:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
    --third:#DFE4E0;
    --mainafterclr:hsl(167, 81%, 79%);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.header{
    padding: 1rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 50px;
}
.navbar a{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover::after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}
.icons a{
    color: white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .5s;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
}
.navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
.background-image{
    background: url(Slikee/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;
}
.background-content{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}
.background-content h1{
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
.background-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.background-content a{
    background: var(--secclr);
    padding: 1.5rem 3rem;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: .5s;
}
.background-content a:hover{
    background:transparent;
    border: 1px solid var(--secclr);
    color: black;
}
/* .about{
    padding: 6rem 7%;
    background: var(--third);
} */
.main-about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(Slikee/8.jpg);
    background-size: cover;
    flex-flow: column wrap;
}
.about-center{
    width: 51%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
    width: 65%;
    background: white;
    font-size: 15px;
    text-align: center;
    color: black;
}
.about-right{
    width: 25%;
    height: 18vh;
    background: #DFE4E0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}
.about-right img{
    width: 360px;
    height: 130px;
}
.gallery{
    padding: 1rem 2%;
    background-color: #239f85;
}
.gallery h1{
    column-gap: var(--mainclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
}
.inner-gallery{
    flex: 1 1 300px;
}  
.inner-gallery img{
    width: 330px;
    padding: 5px;
    transition: 1s;
}
.inner-gallery img:hover{
    transform: scale(1.1);
}
.our-doctors{
    padding: 4rem 7%;
}
.our-doctors h1{
    text-align: center;
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 30px;
}
.main-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.inner-doctor{
    flex: 1 1 300px;
    position: relative;
}
.inner-doctor img{
    width: 100%;
}
.doc-icons{
    position: absolute;
    bottom: 2%;
}
.doc-icons div{
    font-size: 2rem;
    color: var(--mainclr);
    background: white;
    border: 1px solid black;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.footer{
    padding: 4rem 7%;
    background: var(--third);
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-footer{
    flex: 1 1 200px;
}
.inner-footer h2{
    font-size: 2rem;
    color: black;
}
.inner-footer a{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
}
.inner-footer a:hover{
    font-size: 20px;  
}



